/*!
 * Sun Framework
 * Copyright 2016 Joomlashine.
 * @file _modules.scss
 */


//
// Module Styles
// --------------------------------------------------
.module-style-2 {
	.module-body {
		padding: 0 10px 10px;
	}
	.module-title .box-title {
		@include rtl-padding-left(10px);
	}
}


//
// Breadcrumbs
// --------------------------------------------------
.sunfw-breadcrumb {
  padding: 40px 0;
  .breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    > .active {
      color: #FFF;
    }
  }
}

//
// Pagination
// --------------------------------------------------
